/*
 * Copyright (C) 2000 - 2018 Silverpeas
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * As a special exception to the terms and conditions of version 3.0 of
 * the GPL, you may redistribute this Program in connection with Free/Libre
 * Open Source Software ("FLOSS") applications as described in Silverpeas's
 * FLOSS exception.  You should have received a copy of the text describing
 * the FLOSS exception, and it is also available here:
 * "http://www.silverpeas.org/docs/core/legal/floss_exception.html"
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

html , body.treeView,
body.treeView > div,
body.treeView > div > div,
body.treeView > div > div #topPage,
body.treeView > div > div #topPage .cellBodyWindows,
body.treeView > div > div #topPage .cellBodyWindows .tableFrame,
body.treeView > div > div #topPage .cellBodyWindows .tableFrame .hautFrame{
	height:100%
}

body.treeView {
	overflow:hidden;
}

/* Search zone */
#searchZone {
  margin: 1em;
}

#searchZone #searchLine {
  white-space: nowrap;
}

#searchZone #searchLabel,
#searchZone #searchButton  {
  float: left;
}

#sortingList #sort7 {
  display: none;
}

#preview .publiName,
#preview-clone .publiName {
  color: #333333;
  font-size: 130%;
  font-weight: bold;
  margin: 0 0 5px;
  padding: 0;
}

#preview #status,
#preview-clone #status {
  vertical-align:bottom;
}

#preview .inlineMessage {
  margin-top: 0px;
}

#infoPublication{
  padding-bottom:11px;
}

#statPublication .silverpeas-rating {
  float:right;
}

#statPublication .rating-contribution {
  display:block;
  text-align:right;
  color: #999;
}

#permalinkInfo input {
  width: 92%;
}

#preview .publiDesc,
#preview-clone .publiDesc {
  font-weight: bold;
  color:#666666;
  padding:8px;
  border-left:6px solid #e4e4e4;
}

#preview #pagination {
  display: block;
  float: right;
  margin: 9px 0 1px;
}

#preview .currentPage {
  opacity:0.6;
}

#preview #pagination img {
  border:0;
  vertical-align:top;
}

#preview #backToSearch {
  height: 30px;
  width: 310px;
  float: right;
}

#preview #backToSearch a.button {
  background-color:#F4F4F4;
  background-image: url("../../../util/icons/gradientSVG.jsp?from=fff&to=e5e5e5&vertical=0&horizontal=100");
  -moz-background-size: 100%;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  color: #4C4C4C;
  font-size: 100%;
  padding: 7px 10px;
  position: absolute;
  right: 101px;
  width: 187px;
}

#preview #backToSearch a.button span{
  background:transparent url(../../../util/icons/back.png) 0 0 no-repeat;
  line-height: 16px;
  padding: 0px 0px 0px 24px;
  font-weight:bold;
  display: block;
  text-align: center;
}

#preview #permalinkInfo img,
#preview-clone #permalinkInfo img {
  border: 0px;
}

#sortingList {
  float: right;
}

#templates .template {
  text-align: center;
}

#pubList {
  display:block;
  overflow: auto;
  padding: 0px;
}

#pubList #pubsHeader {
  border-bottom: 1px solid #E9E9E9;
  background-color: #f3f3f3;
  font-weight:bold;
  width: 100%;
  line-height: 28px;
  padding-bottom: 3px;
  vertical-align:middle;
}

#pubList #pubsHeader img {
  vertical-align: middle;
  margin-right: 3px;
  margin-left: 5px;
}

#pubList .tableBoard{
  padding:0;
  width: inherit;
  display: block;
}


#pubList #pubsCounter {
  position:relative;
}

#pubList #pubsSort {
  float: right;
  margin-top: 3px;
  margin-right: 3px;
  position: relative;
}

#pubList ul {
  list-style: none;
  width: 100%;
  white-space: normal;
  padding: 5px 0px 0px 0px;
  margin: 0px;
}

#pubList ul li {
  margin: 0px;
  padding: 0.8em 0px 0.8em 0px;
  width: 100%;
  border-bottom:1px solid #ddd;
  display: flex;
}

#pubList ul li:last-child {
  border-bottom:0px solid #ddd;
}

#pubList ul.list-publication-home li:last-child {
  border-bottom:1px solid #ddd;
}

#pubList ul li.over-publication {
  background-color: #ECECEC;
}

#pubList ul li.read .line1 a {
  color: #006600;
}

#pubList .firstColumn {
  float: left;
  padding-left: 30px;
  position: relative;
}

#pubList .thumbnail {
  float: left;
}

#pubList .thumbnail .vignette{
  margin-right:0.5em;
}

/*#pubList .unit-operation {
	display: none;
}*/

#pubList .selection {
  left: 5px;
  position: absolute;
  top: 3px;
}

#pubList .selection input {
  display: none;
}

#pubList .publication {
  white-space: normal;
  display: inline;
}

#pubList .publication .actualite {
  font-size: 1em;
}

#pubList .publication .date {
  font-size: 0.9em;
}

#pubList .publication .line1 {
  height: auto;
  min-height: 15px;
}

#pubList .publication .line2,
#pubList .publication .line3,
#pubList .publication .files,
#pubList .publication .publication-name {
  padding-left: 32px;
  white-space: normal;
}

#pubList .publication .files {
  padding-left: 45px;
  display:block;
  margin-top: 0.5em;
}

#pubList .publication .description.line3  ,
#pubList .list-publication-home li .publication-description{
  font-size:90%;
  white-space: normal;
  margin-bottom: 0;
}

#pubList .important3 .line1 > font > a,
#pubList .important4 .line1 > font > a,
#pubList .important5 .line1 > font > a {
  background: url(../../../util/icons/flag-important.png) 0 0 no-repeat;
  padding-left: 18px;
}

#pubList .publication .user {
  /*display: none;*/
}

.portlet #pubList {
  margin-top: 5px;
}

#thumbnailPreviewAndActions {
  background-color:#EEEEEE;
  border:1px solid #DDDDDD;
  float:left;
  margin-left:0;
  padding:3px;
  margin-bottom: 3px;
}

#thumbnailPreview {
  float: left;
}

#thumbnailPreview #thumbnail {
  height: 50px;
  border:1px solid #DDDDDD;
}

#thumbnailActions {
  float: left;
  margin-left: 4px;
}

#thumbnailActions a {
  margin-bottom: 5px;
  display: block;
}

#thumbnailActions img {
  vertical-align: middle;
}

#thumbnailInputs {
  clear: both;
}

#thumbnailInputs img, #thumbnailInputs input, #thumbnailInputs select {
  vertical-align: middle;
}

#preview .txtBaseline {
}

#rightClick-message p {
  background: transparent url("../../../util/icons/rightClick.gif") 7px 0px no-repeat;
  padding-left: 50px;
  text-align: justify;
}

#DropZone {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}

#footer {
  text-align: center;
}

#footer img {
  border: 0px;
}

#subTopics {
  width:98%;
  padding-bottom:5px;
}

#subTopics ul {
  list-style-type:none;
  padding:0;
  margin:5px;
}

#subTopics ul li {
  margin:2px 0 0 0;
  height: 63px;
  position:relative;
}

/*** presentation sur 4 colonnes***/
#subTopics ul li  {
  display: inline;
  float: left;
  height: 63px;
  margin-right: 0.5em;
  width:24%;
  position:relative;
}

#subTopics ul li a {
  background: url("../../../kmelia/jsp/icons/pack_big_icons.gif")  3px 5px no-repeat;
  display: block;
  overflow:hidden;
  height: 32px;
  padding:8px 3px 16px 50px;
  line-height: 100%;
  border:1px solid #EAEAEA ;
  border-radius:10px;
  background-color:#EAEAEA;
}
#subTopics ul li a.trash {
  background: url("../../../kmelia/jsp/icons/pack_big_icons.gif")  3px -395px no-repeat;
  border:1px solid #EAEAEA ;
  border-radius:10px;
  background-color:#EAEAEA;}
#subTopics ul li a.trash:hover {
  background: url("../../../kmelia/jsp/icons/pack_big_icons.gif")  3px -495px no-repeat;
  border:1px solid #FFFBBB ;
  background-color:#FFFFDC;}

#subTopics ul li a.toValidate {
  background: url("../../../kmelia/jsp/icons/pack_big_icons.gif")  3px -195px no-repeat;
  border:1px solid #EAEAEA ;
  border-radius:10px;
  background-color:#EAEAEA;}
#subTopics ul li a.toValidate:hover {
  background: url("../../../kmelia/jsp/icons/pack_big_icons.gif")  3px -295px no-repeat;
	border:1px solid #FFFBBB ;
	background-color:#FFFFDC;}

#subTopics ul li a.folder-with-rights {
  background: url("../../../kmelia/jsp/icons/pack_big_icons.gif")  3px -596px no-repeat;
  border:1px solid #EAEAEA ;
  border-radius:10px;
  background-color:#EAEAEA;}
#subTopics ul li a.folder-with-rights:hover {
  background: url("../../../kmelia/jsp/icons/pack_big_icons.gif")  3px -696px no-repeat;
  border:1px solid #FFFBBB ;
  background-color:#FFFFDC;}
	
#subTopics ul li a strong {
  display:block;
  padding:0 30px 2px 0;
}

#subTopics ul li a strong span {
  background: url("../../../kmelia/jsp/icons/mini_publi.gif")  top right no-repeat;
  display:block;
  height: 20px;
  width: 25px;
  position: absolute;
  right: 10px;
  top: 8px;
  padding: 1px 17px 0 0;
  color: #000000;
  text-align: right;
}
#subTopics ul li a:hover {
  background: url("../../../kmelia/jsp/icons/pack_big_icons.gif")  3px -95px no-repeat;
  border:1px solid #FFFBBB ;
  background-color:#FFFFDC;
  color:#000;
}
#subTopics ul li a span{
  color: #666666;
  display: block;
  font-size: 1em;
  height: 33px;
  line-height:1em;
  overflow: hidden;
}

#topicDescription {
  color:#666;
  padding: 1em;
}

.principalContent .inlineMessage,
.principalContent .inlineMessage-ok,
.principalContent .inlineMessage-nok {
  float: none;
  font-size: 120%;
  font-weight: bold;
}

.inlineMessage a.button {
  background-color:#F4F4F4;
  background-image: url("../../../util/icons/gradientSVG.jsp?from=fff&to=e5e5e5&vertical=0&horizontal=100");
  -moz-background-size: 100%;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  color: #4C4C4C;
  line-height: 52px;
  margin: 0px 30px;
  padding: 7px 20px;
  text-decoration: none;
}

a.button.validate span {
  background: url("../../../util/icons/ok.gif") no-repeat scroll left center transparent;
  line-height: 16px;
  padding: 2px 0px 2px 24px;
}

a.button.refuse span {
  background: url("../../../util/icons/wrong.gif") no-repeat scroll left center transparent;
  line-height: 16px;
  padding: 2px 0px 2px 24px;
}

.rightContent{
  width:310px;
  clear:right;
  float:right;
}

.clearAll {
  clear:both;
}

/* Pour Kmax */
#listAxis{
  display:inline;
  float:left;
}

#btnForm{
  display:inline;
  float:left;
  padding-top:12px;
  width:100px;
}

.oneAxis {
  background-color: #FFFFFF;
  border-left: 1px solid #CECECE;
  display: inline;
  float: left;
  margin: 5px 25px 5px 4px;
  padding: 0 5px 4px 4px;
  position:relative;
}

.kmax .sousNavBulle, .kmaxManager .sousNavBull{
  position:relative;
}

.kmax .sousNavBulle #btnForm .sp_button {
  background-color:transparent;
  border:0;
}

.oneAxis  label {
  display: block;
  padding: 4px 0 3px 0;
  font-weight:100;
  color:#26334A;
}

.oneAxis select {
  border: 1px solid #CECECE;
  color: #666666;
}

.axisManagment .oneAxis label{
  padding-right:8px;
  cursor:pointer;
}

.oneAxis .action {
  position:absolute;
  top:6px;
  right:6px;
  border:0;
  background-color:transparent;
}
.oneAxis .action:hover {
  background-color:#FFFFCC;
}
.oneAxis .action img {
  width:13px;
  border: 0px;
}

.axisManagment .oneAxis{
  position:relative;
  background-color: #EAEAEA;
  border-left: 1px solid #CECECE;
  display: inline;
  float: left;
  margin: 5px 25px 5px 4px;
  padding: 6px 15px 14px 14px;
  position:relative;
  border:1px solid #EAEAEA ;
  border-radius:10px;
}

/**mise en page  publicationManager **/
#creationArea .champs, #updateArea .champs{
  position:relative;
  padding-left:40px;
}

#updateArea .champs {
  margin-left: 0px;
}

#creationArea .profilPhoto, #updateArea .profilPhoto {
  position:absolute;
  top:5px;
  left:0;
  width:30px;
  height:30px;
  text-align:center;
}

#creationArea .profilPhoto img, #updateArea .profilPhoto img {
  height:30px;
  position:relative;
}

#pubDates legend{
  background:transparent url(../../../util/icons/calendar_1.png) 11px 0px no-repeat; /*icone présente core > .. util > icons */
}
#pubThumb legend{
  background:transparent url(../../../util/icons/images.png) 11px 0px no-repeat; /*icone présente core > .. util > icons */
}

#pubInfo legend{
  background:transparent url(../icons/mini_publi.gif) 11px 0px no-repeat; /*icone présente dans kmelia */
}

#codificationArea, #pubNameArea, #descriptionArea , #keywordsArea, #authorArea, #draftOutArea, #endArea, #beginArea, #thumb, #validatorArea{
  width:98%;
}

#stateArea img, #languageArea img {
  vertical-align: middle;
}

#descriptionArea textarea, #pubNameArea input, #keywordsArea input, #authorArea input{
  width:94%;
}

#header .legend {
  padding: 15px;
  clear: both;
}

#header #pubExtraForm .legend {
  display: none;
}

#header #pubExtraForm legend {
  background: transparent url(../../../util/icons/component/formsOnlineSmall.gif) 11px 0 no-repeat;
}

.commentaires {
  border-top: 2px dotted #CECECE;
  margin-top: 15px;
  overflow:auto;
  width:100%;
  clear:left;
}

.publicationManager .classification .legende {
  display: none;
}

#addOrUpdateNode #deleteTranslation img {
  vertical-align: text-bottom;
  border: 0px;
  margin-left: 3px;
}

.topic-statistics .container-filter label {
  display:inline-block;
  width:150px;
}
.topic-statistics .button-filter {
  margin:20px 0 0 50px;
}
.topic-statistics #datePersonnalisedControl {
  margin:7px 0 0 153px;
}
.topic-statistics  .datecontrole ,
.topic-statistics  .filterLibGroup {
  margin-bottom:7px;
}

.topic-statistics  .filterLibGroup a,
.topic-statistics  .filterLibGroup a:hover{
  background-color:transparent;
  border: 0px solid #CECECE;
  padding:0;
}
.topic-statistics  img {
  vertical-align:text-bottom;
}

.topic-statistics .inlineMessage {
  font-size:16px;
  text-align:left;
  width:98%;
  padding:0.5% 1%;
  margin:10px 0;
}
.table-result-statistics {
  width:100%;

}
.table-result-statistics .even td,
.table-result-statistics .odd td{
  background-color:#f9f9f9;
  border-bottom:1px solid #d4d4d4;
  padding:10px;
}
.table-result-statistics .odd td{
  background-color:#eeeeee;
}
.table-result-statistics thead td{
  background-color:#e4e4e4;
  border-bottom:1px solid #cccccc;
  font-weight:bold;
  padding:10px;
}
.table-result-statistics thead th{
  font-weight:bold;
  text-align:left;
  padding:10px 0;
  font-size:120%;
}
.table-result-statistics .index-table {
  width:25px;
}
.table-result-statistics .principal-element-table {
  font-weight:bold;
}

/*** rightPane ****/

.wrap{
  width: 100%;
  border: 0;
  font-size: 0;
  height:100%
}

.wrap .resizable{
	width:30%;
	overflow:auto;
	padding-right: 2em;
}
.resizable1{	
	z-index:10;
	position:relative;
	height:100%;
}
.resizable1 #treeDiv1{	
	z-index:10;
	position: fixed;
	top:4em;
	bottom: 0;
	overflow:auto;
	width: inherit;
}
.wrap .resizable.resizable2{
	width:70%;
	padding:0;
	display:block;
	position: fixed;
	top:4em;
	bottom: 0;
	overflow:auto;
	right:0;
	z-index:5;
}

.wrap #rightSide.resizable > div {
  margin:0 2em 1em 4em;
}

.wrap .ui-resizable-e{
  background:#f2f2f2 url("../../../util/icons/splitter/layout_sprite_vertical.png") 1px center no-repeat ;
  width: 7px;
  display:block !important;
  cursor: e-resize;
  right:0;
  top: 0;
  bottom: 0;
  z-index: inherit !important;
}

#footer {
  text-align: center;
}

.jstree li.Invisible > a {
  color: #BBBBBB;
}

.jstree li.Visible > a {
  color: #000000;
}

#latestPublications p {
  margin: 0px 0px 10px 0px;
}

#richContent a {
  color: blue;
  text-decoration: underline;
}

/* Last access */
#preview #lastReader h4 {
  background:transparent url("../../../util/icons/groupe.gif") right top no-repeat  ;
  height: 16px;
}
#preview #lastReaderList {
  list-style-type:none;
  padding:17px 10px;
  margin:0;
}

#preview #lastReaderList li {
  width:50%;
  float:left;
  position:relative;
  padding:0;
  margin:0 0 8px;
  overflow: hidden;
}
#preview #lastReaderList li:nth-child(2n+1) {
  clear:left;
}

#preview .bgDegradeGris #lastReaderList .profilPhoto {
  left:0;
  right:auto;
  top:0px;
  background-color:#FFF;
}

#preview #lastReaderList li span.consultationDate,
#preview #lastReaderList li span.userToZoom {
  display:block;
  padding-left:40px;
  padding-right: 5px;
}

#preview #lastReaderList li span.consultationDate {
  color:#727272;
}

#preview #readingControlLink {
  color:#444;
  display:block;
  text-align:right;
  padding: 0px 10px 7px 10px;
  text-decoration:underline;
  clear: both;
}

#commentInfo a {
  background:transparent url(../../../util/icons/talk2user.gif) 0 0 no-repeat;
  padding-left:20px;
}
/******** on style la scroll bar pour alléger l'ensemble ********/
/******************** WEBKIT **************/
#treeDiv1::-webkit-scrollbar {
  width: 7px;
  height:7px;
}
#treeDiv1::-webkit-scrollbar-track {
  -webkit-box-shadow:0;
  background-color:#f1f1f1;
}
#treeDiv1::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius:0.5em;
}
#treeDiv1::-webkit-scrollbar-button {
}

/******************** IE **************/
#treeDiv1{
  scrollbar-base-color: #d6d6d6;
  scrollbar-3dlight-color: #f1f1f1;
  scrollbar-highlight-color: #f1f1f1;
  scrollbar-track-color: #f1f1f1;
  scrollbar-arrow-color: #a3a3a3;
  scrollbar-dark-shadow-color: #FFF;
  scrollbar-shadow-color: #d6d6d6;
  scrollbar-dark-shadow-color: #f1f1f1;
  scrollbar-darkshadow-color: #f1f1f1;
}

#pubList  .list-publication-home {
  list-style-type:none;
  display:flex;
  flex-flow: row wrap;
}

#pubList .list-publication-home li{
  flex-grow:1;
  flex-shrink:2;
  flex-basis:30%;
  padding:1em 0 0.5em;
  margin:0em 1em 1em;
  border-bottom:1px solid #ddd;
  display:block;
}

#pubList .list-publication-home li .publication-user::after,
#pubList .list-publication-home li .publication-date::after{
  content:' - ';
  display:inline;
}

#pubList li .publication-name a{
  font-weight:700;
}
#pubList .publication-name > div {
  display:inline;
}

#pubList .blue ,
#pubList .blue a,
#pubList .blue .date{
  color:#1c94d4 !important
}
#pubList .gray,
#pubList .gray a,
#pubList .gray .date,
#pubList .state_Plus{
  color:#888 !important
}
#pubList .red ,
#pubList .red a,
#pubList .red .date{
  color:#cf3636 !important
}

#noPublicationMessage p {
  padding:0.5em 1em;
}

/* see also */

#block-seeAlso ul {
  list-style-type:none;
  padding:0;
  margin:1em 0.5em;
  color:#4d4d4d;
  border-bottom:1px solid #e9e9e9;
}

#block-seeAlso  ul li {
  background:transparent url(../../../util/icons/list-puce-green.gif) 4px 8px no-repeat;
  line-height:14px;
  margin:1em 0;
  padding:2px 18px 4px 18px;
}


#block-seeAlso  ul li:last-child {
  margin-bottom:0;
}

#block-seeAlso .showActionsOnMouseOver {
  position:relative;
}

#block-seeAlso .showActionsOnMouseOver .actionShownOnMouseOver{
  position:absolute;
  top:2px;
  left:-2px;
}

#block-seeAlso .showActionsOnMouseOver .actionShownOnMouseOver .delete{
  background: url(../../../util/icons/delete.gif)  no-repeat;
  width:16px;
  height:16px;
  display:block;
  text-indent:-300em;
}
/* publication link manager*/
.dimensionTable {
  height: 500px;
  width: 100%;
  padding-top:1em;
}

.dimensionTable > tbody > tr > td:first-child {
  width:250px;
}
.dimensionTable td.secondTd {
  padding-right:1em;
}
.yui-skin-sam .dimensionTable #pubList ul li .firstColumn {
  padding-left: 26px;
}
.yui-skin-sam .dimensionTable #pubList .publication .line1 ,
.yui-skin-sam .dimensionTable #pubList .publication .line2,
.yui-skin-sam .dimensionTable #pubList .publication .line3,
.yui-skin-sam .dimensionTable #pubList .publication .files,
.yui-skin-sam .dimensionTable #pubList .publication .publication-name{
  padding-left: 0px;
}
.yui-skin-sam .dimensionTable  #pubList .publication {
  padding-top:3px;
}

.publistDisplay {
  min-width: 480px;
}